* {
  /* border: 1px solid hotpink;
  background-color: #39487f; */
}

#categoryChips {
  width: 60%;
  align-content: center;
  margin: 0 auto;
  justify-content: flex-end;
  padding-top: 5%;
  float: right;
}

.search {
  padding-top: 2em;
  margin: 0 auto;
  text-align: center;
}

.siteTitle {
  margin-left: .5em;
  margin-top: .5em;
}
.tableTitle {
  padding-top: 1em;
  margin: 0 auto;
  text-align: center;
}

#currentSearch {
 width: 75%;
 height: 30em;
 border: 1px solid navy;
 /* margin: 0 auto; */
 overflow: scroll;
 float: right;
 margin-right: .5em;
}

li {
  list-style: none;
}

.victimNames {
  display: inline-block;
  min-width: 25%;
}
.d-inline-flex {
  padding-right: 1em;
  padding-left: 1em;
}

th {
  font-size: 1.5em;
  width: 9%;
}

.left {
  float: left;
  border: 1px solid navy;
  width: 23%;
  margin-left: .5em;
  padding-left: .5em;
  padding-top: .5em;
}
